.sect1 {
    min-height: 500px;
    position: relative;
}

.sect1 .form-container {
    background-color: white;
    padding: 15px 2%;
    max-width: 700px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-title {
    position: relative;
}

.custom-title > h2 {
    position: relative;
    font-size: 30px !important;
    color: #777 !important;
    background-color: white;
    z-index: 2;
    display: inline-block !important;
    padding-right: 10px;
}

.custom-title > div {
    width: 100%;
    position: absolute;
    height: 3px;
    background-color: #777;
    left: 0px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
}